{% extends 'base.html.twig' %}
{% block head %}
<link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css"integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88="crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div class="container bg-secondary mt-2 pb-2">
        <a class=" btn btn-primary m-3 " href="{{ path('app_booking_index')}}">Reservations</a>
        <div class="container mb-2 mx-1" id="calendrier"></div>
    </div>
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek', locale: 'fr', timeZone: 'Europe/Paris',  
                headerToolbar: { start:'prev, next today',center: 'title',end: 'dayGridMonth, timeGridWeek'}, 
                events: {{ data|raw }}, editable: true,
                forceEventDuration: true,
            })
            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "start": e.event.start,
                }
                let xhr = new XMLHttpRequest
                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
            })
            calendar.render()
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA="crossorigin="anonymous"></script>
{% endblock %}
