{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
<style>.rd-border{border-radius:10px}</style>
<div class="d-flex justify-content-center">
    <div class="scroll container bg-secondary m-2 pb-2"style="border-radius:10px">
        <h1>Page contact</h1>

        <form method="post">
            <div class="form-group ">
                <label for="email" class="col-sm-2 col-form-label">Mail</label>
                <input type="email" class="form-control-plaintext border rd-border px-2" name="email" placeholder="Entrez votre couriel"/>

                <label for="subject" class="form-label mt-2">Sujet</label>
                <input type="text" class="form-control-plaintext border rd-border px-2" name="subject" placeholder="Entrez le sujet"/>

                <label for="message" class="form-label mt-2">Votre Message</label>
                <textarea type="text"class="form-control-plaintext border rd-border px-2" name="message" placeholder="Champ de text" row="4"></textarea>

                <input type="submit" class="btn btn-success mt-2"></button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
