.bg-leger{background-color: #dfdfdf;}
.dco{text-decoration:none}
#calendrier{height:620px;}
.glyphicon-chevron-left{
    background-color: blue;
}
@media only screen and (min-width:767px){ #calendrier{height:560px;} }
@media only screen and (min-width:991px){ #calendrier{height:560px;} }

