{% extends 'base.html.twig' %}
{% block title %}New Booking{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary m-2 pb-2"style="border-radius:10px">
        <h1 class="scroll">Nouveau RDV</h1>
        {{ include('booking/_form.html.twig') }}
        <a class="scroll btn btn-primary" href="{{ path('app_booking_index') }}">retour</a>
    </div>
</div>
{% endblock %}
