{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouvelle Leçon</h1>

    {{ include('lesson/_form.html.twig') }}

    <a class="btn btn-primary"href="{{ path('app_lesson_index') }}"> Retour </a>
</div>
{% endblock %}
