{% extends 'base.html.twig' %}

{% block title %}Nouvelle Leçon{% endblock %}

{% block body %}
<div class="container bg-secondary mt-2 pb-2"style="border-radius:10px">
    <h1 class="scroll">Nouvelle Leçon</h1>

    {{ include('lesson/_form.html.twig') }}

    <a class="scroll btn btn-primary"href="{{ path('app_lesson_index') }}"> Retour </a>
</div>
{% endblock %}
