{% extends 'base.html.twig' %}
{% block title %} Conditions Générales De Vente{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary m-2  p-3"style="border-radius:10px;min-height:180px">
        <p class="text-center fs-3" style="margin-bottom:-10px"> Condition Générale De Vente</p>
            <p class="text-center text-info fs-5"> En vigueur au 01/05/2022</p>

        <p class="text text-info fs-4">ARTICLE 1 : OBJET</p>
            <p class="text-light fs-5"> 
                Les présentes conditions régissent les ventes par la société WAFORMATION dont le siège social 
                à l'adresse 1 rue de la jopie, 75001, Paris et proposant des formations de cours informatiques à domicile.

            </p>

        <p class="text text-info fs-4">ARTICLE 2 : PRIX</p>
            <p class="text-light fs-5">  
                Les prix de nos services sont indiqués en euros TTC, sauf indication contraire et hors frais de traitement. 
                Toutes les réservations quelle que soit leur origine sont payables en euros.  
                La société WFORMATION se réserve le droit de modifier ses prix à tout moment, 
                mais le produit sera facturé sur la base du tarif en vigueur au moment de la validation de la commande et sous réserve de disponibilité.

            </p>

        <p class="text text-info fs-4">ARTICLE 3 : RESERVATION</p>
            <p class="text-light fs-5">  
                Toute réservation figurant sur le site Internet waformation.fr suppose l'adhésion aux présentes Conditions de vente. 
                Toute confirmation de réservation entraîne votre adhésion pleine et entière aux présentes conditions de vente, sans exception ni réserve.
​                L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. 
                Vous déclarez en avoir parfaite connaissance.La confirmation de commande vaudra signature et acceptation des opérations effectuées.  
                Un récapitulatif des informations de votre commande et des présentes Conditions Générales, 
                vous sera communiqué via l'adresse e-mail de confirmation de votre commande.

            </p>

        <p class="text text-info fs-4">ARTICLE 4 : PAIEMENT</p>
            <p class="text-light fs-5">  
                Le fait de valider votre réservation implique pour vous l'obligation de payer le prix indiqué.
                Le règlement de vos achats s'effectue par carte bancaire grâce à nos systèmes de paiement sécurisés.
                Le débit de la carte n'est effectué qu'au moment de l'expédition de la commande. En cas de livraisons fractionnées, seuls les produits expédiés sont débités.
                Nous proposons les systèmes de paiement sStripe (Visa, Mastercard, etc).

            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 5 : RETRACTATION/ANNULATION</p>
            <p class="text-light fs-5">  
                Nos services sont proposés tant qu'ils sont visibles sur le site.	
                En cas d'indisponibilité d'un service après passation de votre réservation pour quelque raison que ce soit, 
                nous vous en informerons par mail. Votre réservation sera automatiquement annulée et nous vous proposerons une autre date ou un remboursement.


            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 6 : DISPONIBILITE</p>
            <p class="text-light fs-5">  
                Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps. 
                (lien politique de confidentialité de IONOS)
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 7 : REALISATION DU SERVICE</p>
            <p class="text-light fs-5">  
                Les services sont fournis à l'adresse indiquée au cours du processus de commande, à la date ou aux dates indiquées sur la page de validation de la réservation. 
​                La société WAFORMATION ne peut être tenue pour responsable d'impossibilité totale ou partielle de réaliser le service demandé lorsque 
                la faute en incombe au client s'il ne se présente pas ou s’il a un retard important au rendez-vous.
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 8 : SERVICE CLIENT</p>
            <p class="text-light fs-5">  
                En cas de problème, question ou remarque concernant votre réservation. 
                Notre service client se tient à votre disposition durant nos horaires d'ouverture DE 8H à 17H, du lundi au vendredi.
                par e-mail ou par téléphone.
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 9 : PROPRIETE INTELLECTUELLE</p>
            <p class="text-light fs-5">  
                Tous les éléments du site waformation.fr sont et restent la propriété intellectuelle et exclusive de la société WAFORMATION. 
                Nul n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, 
                des éléments du site qu'ils soient logiciels, visuels ou sonores. Tout lien simple ou par hypertexte est strictement interdit 
                sans un accord écrit exprès de la société WAFORMATION.
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 10 : DONNEES PERSONNELLES</p>
            <p class="text-light fs-5">  
                La société WAFORMATION se réserve le droit de collecter les informations nominatives et les données personnelles vous concernant. 
                Elles sont nécessaires à la gestion de votre réservation, ainsi qu'à l'amélioration des services et des informations que nous vous adressons.
                Elles peuvent aussi être transmises aux sociétés qui contribuent à ces relations, telles que celles chargées de l'exécution des services et 
                commandes pour leur gestion, exécution, traitement et paiement.
                Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires.
                Pour plus d'information à ce sujet, nous vous invitons à lire notre
                <a class="text-light text-decoration-none mx-2" href="{ path('app_confidential') }}">Politioque de confidentialité</a>.
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 11 : DROIT APPLICABLE EN CAS DE LITIGE</p>
            <p class="text-light fs-5">  
                La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi française. 
                En cas de litige, les tribunaux français seront les seuls compétents.
            </p>
        </p>
    </div>
</div><br>

{% endblock %}
