{% extends 'base.html.twig' %}
{% block title %} Politique de confidentialité{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary m-2  p-3"style="border-radius:10px;min-height:180px">
        <p class="text-center fs-3" style="margin-bottom:-10px"> Politique de confidentialité </p>
            <p class="text-center text-info fs-5"> En vigueur au 01/05/2022</p>

        <p class="text text-info fs-4">ARTICLE 1 : COLLECTE DE VOS INFORMATIONS​</p>
            <p class="text-light fs-5"> 
                Nous recueillons des informations lorsque vous remplissez nos formulaires de contact, lorsque vous réservez ou achetez un de nos services.
                Nous pouvons récolter les informations suivantes : votre prénom, votre nom, votre adresse e-mail, votre numéro de téléphone, votre adresse et votre localité.
                En outre, nous pouvons recevoir et enregistrer automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, 
                vos logiciels et votre matériel, et la page que vous demandez selon vos préférences cookies que vous avez sélectionné via notre bandeau.
            </p>

        <p class="text text-info fs-4">ARTICLE 2 : UTILISATION DE VOS INFORMATIONS</p>
            <p class="text-light fs-5">  
                Toutes les informations que nous recueillons de votre part peuvent être utilisées pour :
                Vous contacter de manière plus efficace et pour une meilleure expérience utilisatieur .
            </p>

        <p class="text text-info fs-4">ARTICLE 3 : CONFIDENTIALITE DE VOS DONNEES</p>
            <p class="text-light fs-5">  
                Nous sommes les seuls propriétaires des informations recueillies sur notre site. 
                Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison, sans votre consentement.​
                Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. 
                Cela ne comprend pas les tierce parties de confiance qui nous aident à exploiter notre site web ou à mener nos affaires, 
                tant que ces parties conviennent de garder ces informations confidentielles.​
            </p>

        <p class="text text-info fs-4">ARTICLE 4 : PROTECTION DE VOS INFORMATIONS</p>
            <p class="text-light fs-5">  
                Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. 
                Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. 
                Notre site internet possède bien entendu un Certificat SSL .
                Nous protégeons également vos informations hors ligne. 
                Seuls les administrateurs du site sont autorisés à avoir accès aux informations personnelles identifiables. 
                Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé par notre hébergeur.​
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 5 : COPIE OU SUPPRESSION DE VOS INFORMATIONS</p>
            <p class="text-light fs-5">  
                Nous stockons les données transmises via nos différents formulaires de contact.
                Cependant, vous avez la possibilité de nous contacter par e-mail à contact@waformation.fr 
                pour toute demande de copie ou de suppression de vos données personnelles que nous stockons.​
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 6 : POLITIQUE DE L'HEBERGEUR</p>
            <p class="text-light fs-5">  
                Notre hébergeur possède sa propre politique de confidentialité concernant l'utilisation de vos données que vous pouvez consulter en tout temps. 
                (lien politique de confidentialité de IONOS)
            </p>
        </p>
        <p class="text text-info fs-4">ARTICLE 7 : CONSENTEMENT A NOTRE POLITIQUE</p>
            <p class="text-light fs-5">  
                En utilisant notre site, vous consentez à notre politique de confidentialité et que celle-ci puisse être modifiée en tout temps par l'éditeur.
            </p>
        </p>
    </div>
</div><br>

{% endblock %}
