{% if not app.request.cookies.get('ok') %} 
    <form method="post">
    <div class="d-flex justify-content-center">
        <div class="text-light text-center bg-secondary fixed-bottom cookies opacity-75 m-2 " >
            <p class="scroll fs-6 text-center text- m-1 ">
                En acceptant, vous nous autorisez à installer des cookies sur votre périphérique. 
                Nous utilisons des cookies afin d’améliorer l'expérience de nos utilisateurs sur le site
                <button class="scroll btn btn-warning btn-sm" name="ok" style="">j'accepte</button>
            </p>
        </div>
    </div>
    </form>
 {% endif %}